{
  "presets": ["env"],
  "plugins": [
    "transform-object-rest-spread",
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }],
    ["module-resolver", {
      "extensions": [".js"],
      "alias": {
        "~(.+)": "./src/"
      }
    }]
  ]
}
